#mainTitle {
  font-size: 40px;
}
.mainLetter p {
  margin-top: 40px;
}

.pic {
  border-radius: 50%;
}
.mainLetter {
  display: flex;
  justify-content: space-between;
  width: 855px;
  align-items: center;
  margin: auto;
}
