#mainTitle {
  font-size: 20px;
  margin: 20px auto;
}
.mainLetter p {
  margin-top: 40px;
}

.pic {
  border-radius: 50%;
  width: 250px;
  margin: auto;
}

.mainLetter {
  align-items: center;
  justify-content: space-between;
  width: 760px;
  display: flex;
  margin: 20px auto;
}
@media screen and (max-width: 768px) {
  body {
    width: 100%;
    font-size: x-large;
  }
  .pic {
    width: 250px;
    height: 250px;
  }
  .mainLetter {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
  }
  #mainTitle h1 {
    text-align: center;
    font-size: 18px;
  }

  #mainTitle p {
    margin: 16px auto;
    text-align: center;
    font-size: 16px;
  }
  #mainSection {
    margin: 60px auto;
  }
}
