* {
  margin: 0;
  padding: 0;
}
#mainSection {
  margin: 140px auto;
}
body {
  background-color: white;
}

@media screen and (max-width: 768px) {
  #mainSection {
    margin: 60px auto;
  }
  body {
    background-color: white;
  }
}
