.projetos {
  margin: 8px;
  display: inline-block;
  width: 300px;
  border: 2px solid black;
  padding: 10px;
  border-radius: 15px;
}

.projetos h1 {
  font-size: 32px;
}
.textProject {
  margin: 8px auto;
}
.projetos a {
  font-size: 18px;
  color: blue;
}
.projectsList {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.projetos img {
  width: 300px;
  height: 150px;
}
header h1 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 32px;
}

@media screen and (max-width: 768px) {
  .projetos {
    padding: 4px;
    display: flex;
    flex-direction: column;
    margin: 16px auto;
  }
  .textProject {
    margin: 4px auto;
  }
  .projectsList {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
  .projetos h1 {
    font-size: 24px;
  }
  .projetos p {
    font-size: 18px;
    margin: 8px auto;
  }
  .projetos h1 {
    font-size: 24px;
  }
  header h1 {
    margin: 32px auto;
    font-size: 24px;
  }
}
